services:
  telegram-night-vacation-bot:
    build: .
    container_name: telegram_night_vacation_bot_container
    environment:
      - TZ=Europe/Rome
    restart: unless-stopped
    stop_grace_period: 10s

    deploy:
      resources:
        limits:
          memory: 512M

    volumes:
      - ./data/logs:/code/data/logs
      - ./data/session:/code/data/session

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
